* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* fixing the Bg color to body insated of container */
body {
  background-color: #4a2040;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
h1 {
  /* leaving some margin */
  margin-bottom: 30px;
}
.wrapper {
  width: 500px;
  height: 300px;
  padding-top: 50px;
  background-color: white;
  margin-top: 30px;
  margin-left: 400px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
button {
  background-color: aqua;
  width: 250px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: 0px solid;
  border-radius: 10px;
}
button:hover {
  /* changing the cursor to pointing hand */
  cursor: pointer;
  /* changing the text color to suitable color  */
  color: #fff;
  /* applying smooth effect at btn */
  transition: all 0.5s;
  background-color: rgb(6, 95, 95);
}
/* properly alliging the fetched quote */
p {
  text-align: justify;
  /* applying proper margin accordoing to wrapper */
  margin: auto 40px;
}
/* adjust the container height for smaller screens */
@media (max-width: 768px) {
  .container {
    height: auto;
    padding-bottom: 50px;
  }
  .wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* adjust the font size of the button for smaller screens */
@media (max-width: 480px) {
  button {
    font-size: 16px;
  }
}
/* adjust the font size of the quote for smaller screens */
@media (max-width: 480px) {
  p {
    font-size: 16px;
  }
}
